@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.logo-name {
  font-family: "Oxanium", cursive;
  font-size: 2em;
}
.content {
  padding: 0.5em 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 8%;
  margin-left: 8%;
}
.logo {
  display: flex;
  align-items: center;
  :hover{
    cursor: pointer;
  }
}
.logo:focus{
  outline: none;
}

span {
  font-size: 1.5em;
  margin-right: 1em;
  font-weight: 400;
  font-family: 'Roboto';
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

button {

  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

mat-icon {
  font-size: 1.5em;
}

.drop-down{
  margin-right: 0;
}
