<div class="content">
  <div class="hero">
    <h1>Every tool you need to work with PDFs in one place</h1>
    <div class="drop-file">
    </div>
  </div>
  <div class="usage" fxLayout="row wrap" fxLayoutAlign="space-between">

    <div class="card" fxLayout="column" fxLayoutAlign="center center" fxFlex.gt-lg="30%">
      <mat-icon>light</mat-icon>
      <h2>How to use?</h2>
      <p>Drag and drop your file into the toolbox above to begin. Word, Excel, PPT and image files will convert to PDF
        format. PDF files will convert to the file type you choose.</p>
    </div>

    <div class="card" fxLayout="column" fxLayoutAlign="center center" fxFlex.gt-lg="30%">
      <mat-icon>https</mat-icon>
      <h2>Encrypted files</h2>
      <p>We care about the privacy of your data. 256-bit SSL Encryption of all your files means that your files,
        documents, and data are secure. We also won’t give or share any of your data with other parties.</p>
    </div>

    <div class="card" fxLayout="column" fxLayoutAlign="center center" fxFlex.gt-lg="30%">
      <mat-icon>delete</mat-icon>
      <h2>Automatic deletion of your files</h2>
      <p>After you convert a document to PDF, you’ll be able to download and delete your files from our servers. If you
        happen to forget about deleting your files, they will be deleted from our server automatically after three hours
        to ensure your information is secure.</p>
    </div>
    <div class="card" fxLayout="column" fxLayoutAlign="center center" fxFlex.gt-lg="30%">
      <mat-icon>handyman</mat-icon>
      <h2>A suite of helpful file conversion tools</h2>
      <p>Our PDF file converter does more than convert files to PDF. From compression and rotation to merging two
        different PDFs and splitting one PDF into two, you can easily edit your PDF files with our suite of tools in the
        blink of an eye.</p>
    </div>
    <div class="card" fxLayout="column" fxLayoutAlign="center center" fxFlex.gt-lg="30%">
      <mat-icon>undo</mat-icon>
      <h2>Universal conversion
      </h2>
      <p>Our free file converter works on any OS, including Windows, Mac, and Linux. Because of this, you can convert files to PDF from any OS or device as long as you have an Internet connection.</p>
    </div>
    <div class="card" fxLayout="column" fxLayoutAlign="center center" fxFlex.gt-lg="30%">
      <mat-icon>looks_one</mat-icon>
      <h2>The Best Free PDF Converter
      </h2>
      <p>No matter what types of files you need to convert, our online file converter is more than just a PDF file converter. It’s the go-to solution for all of your file conversion needs.</p>
    </div>







  </div>

</div>
