<div class="upload">

  <div class="select">
    <h1>Split PDF file</h1>
    <p>Separate one page or a whole set for easy conversion into independent PDF files.</p>
  </div>

  <div class="upload">

    <button class="upload-btn" mat-button (click)="onClick()">
      Select PDF file
    </button>
    <p>or drop PDF here</p>

    <input type="file" #fileUpload id="fileUpload" name="fileUpload" multiple="multiple" accept="application/pdf,.csv"
      style="display:none;" />
    <span>{{fileName}}</span>

  </div>

  <h1 *ngIf="loading">Loadinggggggggggggggggggggggggggggggggggg</h1>
  <div *ngIf="dowload">
    <button class="upload-btn" mat-button (click)='downloadFile(fileName)'>JIB le file</button>
  </div>

</div>
